:root {
  --color-light-background: #fafafe;
  --color-text-light: #fafafe;
  --color-text-dark: #2d2e37;
  --color-text-gray: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: transparent;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  line-height: 0;
}

.wrapper {
  --sidebar-width: 10%;
  --player-height: 10%;
  display: grid;
  height: 100%;
  grid-template-areas:
  "sidebar main main"
  "sidebar main main" 
  "player player player";
  grid-template-rows: auto auto var(--player-height);
  grid-template-columns: var(--sidebar-width) auto auto;
}

.sidebar {
  --color-primary-sidebar: rgb(205, 25, 179);
  --padding-left: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: sidebar;
  border-bottom-left-radius: 2em;
  background: linear-gradient(to bottom, #0a1437, #29376a);
}

.sidebar > *:not(div),
.sidebar div > *:not(ul){
  padding-left: var(--padding-left);
}

.sidebar .app-logo {
  background: none;
}

.sidebar .app-logo > svg{
  padding: 0.2em;
  color: #fff;
  font-size: 2.5em;
  border-radius: 50%;
  background-image: linear-gradient(326deg, var(--color-primary-sidebar) 0%, #ffa69e 80%);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar a > * {
  font-size: 1em;
  color: var(--color-text-light);
}

.sidebar a {
  display: flex;
  padding: 1em 0 1em var(--padding-left);
  align-items: center;
  gap: 1ch;
  /* workaround for animated background images as they are currently not supported yet (May 2023) */
  background: linear-gradient(90deg, rgba(205, 25, 179, 0.4) 0%, rgba(205, 25, 179, 0) 50%);
  background-position-x: -200px;
  background-repeat: no-repeat;
  transition: background-position .4s ease-in-out;
}

.sidebar a.active,
.sidebar a:hover {
  background-position-x: 0;
}

.sidebar a.active > svg,
.sidebar a:hover:not(.app-logo) > svg {
  color: var(--color-primary-sidebar);
}

.sidebar h2 {
  margin-bottom: 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary-sidebar);
}

.searchbar {
  position: relative;
  display: flex;
  width: 40%;
  align-items: center;
  grid-area: searchbar;
  color: var(--color-text-light);
}

.searchbar input {
  font-family: inherit;
  padding: 0.4em;
  width: 100%;
  border: 0;
  color: var(--color-text-gray);
  background: none;
}

.searchbar input::placeholder {
  opacity: 1;
  color: var(--color-text-gray);
}

.search-results-container {
  position: absolute;
  top: 100%;
  width: 100%;
  word-break: break-word;
}

.search-results-container div:not(:last-child) {
  border-bottom: 1px solid var(--color-text-gray);
}

.search-results-container div {
  padding: 1em 0;
}

.search-results-container div strong {
  display: block;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

.search-results-container div ul {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.search-results-container div ul li {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.search-results-container img {
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

main {
  grid-area: main-container;
  padding: 2em 0;
}

.home-container {
  display: grid;
  height: 100%;
  column-gap: 12%;
  grid-template-areas:
  'top-tracks .'
  'top-tracks top-artists'
  'top-tracks playlists';
  grid-template-rows: 10vh 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.home-container h2 {
  color: var(--color-text-light);
  font-weight: 600;
  margin-bottom: 1em;
}

.home-container {
  grid-area: top-tracks;
}

.home-container .top-artists-container {
  grid-area: top-artists;
}

.top-artists-container,
.trending-songs-container {
  color: var(--color-text-light);
}

.trending-songs-container ul {
  display: flex;
  flex-direction: column;
}

.trending-songs-container ul li {
  display: flex;
  padding: 0.7em 1.2em;
  gap: 1em;
  align-items: center;
  border-radius: 10em;
  transition: background .15s ease-out;
}

.trending-songs-container ul li:hover {
  background: #0e1a41;
}

.trending-songs-container ul li img {
  width: 3em;
  border-radius: 50%;
}

.trending-songs-container ul li .song-details {
  display: flex;
  flex: 1;
  gap: 2em;
  align-items: center;
}

.trending-songs-container ul li .song-details > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.2em;
}

.top-artists-container ul li .artist-details,
.top-playlists-container .playlist-details span,
.trending-songs-container ul li .song-details > div > a {
  width: fit-content;
  font-size: 0.85em;
  color: var(--color-text-gray);
}

.trending-songs-container ul li .song-details > div > a:hover {
  text-decoration: underline;
}

.top-artists-container .artist-container strong,
.top-playlists-container .playlist-details strong,
.trending-songs-container ul li .song-details > div > strong {
  color: var(--color-text-light);
  font-weight: 500;
}

.trending-songs-container ul li .song-details .favorite {
  color: var(--color-text-gray);
  line-height: 0;
}

.top-artists-container li a {
  display: flex;
  gap: 0.6em;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.top-artists-container ul {
  display: flex;
  gap: 0.5em;
}

.top-artists-container li a img {
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
}

.top-artists-container .artist-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.artist-details span {
  padding: 0 0.5em;
}

.artist-details span:first-child {
  border-right: 1px solid var(--color-text-gray);
}

.top-artists-container li a:hover,
.top-playlists-container ul li a:hover {
  opacity: 0.75;
}

.top-artists-container li a:hover,
.top-playlists-container ul li a:hover {
  transition: opacity .2s ease-in-out;
}

.home-container .top-playlists-container {
  grid-area: playlists;
}

.top-playlists-container {
  margin-top: 4em;
}

.top-playlists-container img {
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.top-playlists-container ul {
  display: flex;
  gap: 2em;
}

.top-playlists-container .playlist-details {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 8em;
}

.top-playlists-container ul li {
  flex: 1;
}

.top-playlists-container ul li a {
  display: flex;
  gap: 1em;
}

.top-playlists-container ul li a > div {
  display: flex;
}
.carousel-container .inner-carousel  {
  overflow: hidden;
  mask-image: linear-gradient(90deg, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0.4) 95%, rgba(0, 0, 0, 0.1) 100%);
}

.carousel-container .inner-carousel ul {
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.carousel-header-container {
  display: flex;
  gap: 2em;
  color: var(--color-text-light);
}

.carousel-header-container .carousel-buttons {
  display: flex;
  gap: 0.25em;
}

.carousel-header-container .carousel-buttons button {
  height: fit-content;
  padding: 0 0.4em;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--color-text-light);
  font-size: 1.4em;
}

.carousel-header-container .carousel-buttons button:hover {
  color: var(--color-text-dark);
}
