:root {
  --color-text-light: #fafafe;
  --color-text-dark: #2d2e37;
  --color-text-gray: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: transparent;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: #14172d;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

strong {
  color: var(--color-text-light);
  font-weight: 500;
}

.wrapper {
  --sidebar-width: 10.5%;
  --player-height: 10%;
  --vertical-padding: 2.5em;
  display: grid;
  height: 100%;
  grid-template-areas:
  "sidebar main main"
  "sidebar main main" 
  "player player player";
  grid-template-rows: 1fr 1fr var(--player-height);
  grid-template-columns: var(--sidebar-width) auto auto;
}

.sidebar {
  --color-primary-sidebar: rgb(205, 25, 179);
  --padding-left: 1.7em;
  display: flex;
  padding: var(--vertical-padding) 0;
  flex-direction: column;
  justify-content: space-between;
  grid-area: sidebar;
  border-bottom-left-radius: 2em;
  background: linear-gradient(150deg, #0B1538ff, #0B163Bff, #0B163Eff, #0A1740ff, #0A1743ff)
}

.sidebar > *:not(div),
.sidebar div > *:not(ul){
  padding-left: var(--padding-left);
}

.sidebar .app-logo {
  padding: 0 0 0 var(--padding-left);
  background: none;
}

.sidebar .app-logo > svg{
  padding: 0.2em;
  color: #fff;
  font-size: 2.5em;
  border-radius: 50%;
  background-image: linear-gradient(326deg, var(--color-primary-sidebar) 0%, #ffa69e 80%);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar a > * {
  font-size: 1em;
  color: var(--color-text-light);
}

.sidebar a {
  display: flex;
  padding: 1em 0 1em var(--padding-left);
  align-items: center;
  gap: 1ch;
  /* workaround for animated background images as they are currently not supported yet (May 2023) */
  background: linear-gradient(90deg, rgba(205, 25, 179, 0.25) 0%, rgba(205, 25, 179, 0) 50%);
  background-position-x: -200px;
  background-repeat: no-repeat;
  transition: background-position .4s ease-in-out;
}

.sidebar a.active,
.sidebar a:hover {
  background-position-x: 0;
}

.sidebar a.active > svg,
.sidebar a:hover:not(.app-logo) > svg {
  color: var(--color-primary-sidebar);
}

.sidebar h2 {
  margin-bottom: 1.4em;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-primary-sidebar);
}

.main-container {
  --searchbar-height: 5%;
  --horizontal-padding: 2.8em;
  display: grid;
  grid-area: main;
  padding: var(--vertical-padding) var(--horizontal-padding);
  grid-template: 'searchbar . .' 'main-container main-container main-container';
  grid-template-rows: var(--searchbar-height) 1fr;
  border-bottom-right-radius: 2em;
  background: linear-gradient(110deg, rgb(6, 14, 75) 0%, rgb(7, 19, 89) 40%, rgba(7, 23, 105, 0.35) 70%, rgba(0, 0, 255, 0.8) 100%),
  url('/images/portrait-disco.png');
  background-repeat: no-repeat;
  background-size: auto auto, auto 100%;
  background-position: right bottom;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  grid-area: searchbar;
  color: var(--color-text-light);
}

.searchbar input {
  font-family: inherit;
  padding: 0.4em;
  width: 100%;
  border: 0;
  color: var(--color-text-gray);
  background: none;
}

.searchbar input::placeholder {
  opacity: 1;
  color: var(--color-text-gray);
}

.search-results-container {
  position: absolute;
  top: 100%;
  width: 100%;
  word-break: break-word;
}

.search-results-container div:not(:last-child) {
  border-bottom: 1px solid var(--color-text-gray);
}

.search-results-container div {
  padding: 1em 0;
}

.search-results-container div strong {
  display: block;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

.search-results-container div ul {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.search-results-container div ul li {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.search-results-container img {
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}

main {
  grid-area: main-container;
  padding: 2em 0;
  min-height: 0;
}

main h2 {
  color: var(--color-text-light);
  font-weight: 600;
  margin-bottom: 1.2em;
}

.home-container {
  display: grid;
  height: 100%;
  column-gap: 12%;
  grid-template-areas:
  'top-tracks .'
  'top-tracks top-artists'
  'top-tracks playlists';
  grid-template-rows: 10vh auto auto;
  grid-template-columns: 40vw 30vw;
}

.home-container .top-artists-container {
  grid-area: top-artists;
  overflow: unset;
}

.home-container .track-list-container {
  grid-area: top-tracks;
}

main > .top-artists-container ul,
.top-radio-container ul {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
}

.top-artists-container,
.track-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  color: var(--color-text-light);
}

.track-list-container ul,
.top-artists-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.track-list-item {
  display: flex;
  padding: 0.7em 1.2em;
  gap: 1em;
  align-items: center;
  border-radius: 10em;
  transition: background .15s ease-out;
}

.track-list-item:hover {
  background: #0e1a41;
}

.track-list-item img {
  width: 3em;
  border-radius: 50%;
}

.track-list-item .song-details {
  display: flex;
  flex: 1;
  gap: 2em;
  align-items: center;
}

.track-list-item .song-details > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.2em;
}

.top-artists-container .artist-details,
.top-playlists-container .playlist-details span,
.track-list-item .song-details > div > a {
  width: max-content;
  font-size: 0.85em;
  color: var(--color-text-gray);
}

.track-list-item .song-details > div > a:hover {
  text-decoration: underline;
}

.track-list-item .song-details .favorite {
  color: var(--color-text-gray);
  line-height: 0;
}

.top-radio-container ul li a {
  gap: 1em;
}

.top-radio-container ul li {
  max-width: 10em;
}

.top-artists-container li a,
.top-radio-container a {
  display: flex;
  gap: 0.6em;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.top-artists-container ul {
  display: flex;
  gap: 0.5em;
}

.top-artists-container li a img,
.top-radio-container li a img {
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
}

.top-artists-container .artist-container,
.top-radio-container li a {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.artist-details span {
  padding: 0 0.5em;
}

.artist-details span:first-child {
  border-right: 1px solid var(--color-text-gray);
}

.top-radio-container li a:hover,
.top-artists-container li a:hover,
.top-playlists-container ul li a:hover {
  opacity: 0.75;
}

.top-radio-container li a:hover,
.top-artists-container li a:hover,
.top-playlists-container ul li a:hover {
  transition: opacity .2s ease-in-out;
}

.home-container .top-playlists-container {
  grid-area: playlists;
}

.top-playlists-container {
  margin-top: 4em;
}

.top-playlists-container img {
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.top-playlists-container ul {
  display: flex;
  gap: 2em;
}

.top-playlists-container .playlist-details {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 8em;
}

.top-playlists-container ul li {
  flex: 1;
}

.top-playlists-container ul li a {
  display: flex;
  gap: 1em;
}

.top-playlists-container ul li a > div {
  display: flex;
}

.player {
  grid-area: player;
}

.carousel  {
  overflow: hidden;
  mask-image: linear-gradient(90deg, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0.4) 95%, rgba(0, 0, 0, 0.1) 100%);
}

.carousel ul {
  position: relative;
  display: flex;
  transition: transform 0.2s ease-in-out;
}

.carousel-header-container {
  display: flex;
  gap: 2em;
  color: var(--color-text-light);
}

.carousel-header-container .carousel-buttons {
  display: flex;
  gap: 0.25em;
}

.carousel-header-container .carousel-buttons button {
  height: fit-content;
  padding: 0 0.4em;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--color-text-light);
  font-size: 1.4em;
}

.carousel-header-container .carousel-buttons button:hover {
  color: var(--color-text-gray);
}

.player {
  display: flex;
  height: 5vh;
  margin: auto 0;
  padding: 0 2.8em;
  align-items: center;
}

.player.disable img {
  visibility: hidden;
}

.player img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.25em;
}

.player .song-details {
  display: flex;
  gap: 3px;
  flex-direction: column;
}

.player .song-title, .player .duration,
.track-list-item span {
  color: var(--color-text-light);
  font-size: 1em;
}

.player .artist-name {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--color-text-gray);
}

.player .control-buttons {
  display: flex;
  gap: 0.25em;
  margin-left: 3.5em;
  justify-content: center;
}

.player button {
  font-size: 2em;
  color: #fff;
  line-height: 0;
}

.player .play-pause-btn {
  padding: 0.15em;
  border-radius: 50%;
  background: #1f567f;
}

.player .wave-container, .wave-container .disable {
  position: relative;
  height: 100%;
  width: 300px;
  flex: 1;
  margin: 0 2.5em;
  mask-image: linear-gradient(
      180deg,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 50%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.5) 100% );
}

.player .duration {
  font-size: 0.8em;
}

.player .volume-slider-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1vw;
}

.volume-slider-container button:hover + .slider-root, .slider-root:hover {
  display: flex;
}

.slider-root {
  position: absolute;
  width: 100%;
  display: none;
  align-items: center;
  bottom: 100%;
  left: 0;
}

.slider-root[data-orientation='vertical'] {
  flex-direction: column;
  height: 100px;
}

.slider-track {
  position: relative;
  flex-grow: 1;
  background-color: #9094a7;
  border-radius: 100px;
}

.slider-track[data-orientation='vertical'] {
  width: 3px;
}

.slider-range {
  position: absolute;
  border-radius: 100px;
  background-color: #1cc39f;
}

.slider-range[data-orientation='vertical'] {
  width: 100%;
}

.player.disable * {
  color: var(--color-text-gray);
}

.player.disable .wave-container::after {
  content: '';
  position: absolute;
  border: 1px solid var(--color-text-gray);
  width: 100%;
  top: 50%;
  z-index: -2;
}
